{% extends 'base_post.html' %}

{% block conteudo %}
  <!-- Page Content -->

        <h1 class="my-4">Postagens</h1>

        {% for post in Posts %}

          <div class="card mb-4">
            {% if post.imagem %}
                <img class="card-img-top" src="{{ post.imagem.url }}" height="300" alt="Card image cap">
              {% else %}
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
              {% endif %}
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.sub_title }}</p>
              <a href="{% url 'post_details' post.id %}" class="btn btn-primary">Ler mais &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              {{ post.data_publicacao }} por
              <a href="#">{{post.autor}}</a>
            </div>
            <div class="card-footer text-muted">
              {{ post.text }}
            </div>
          </div>
        {% endfor %}


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Antigos</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Recentes &rarr;</a>
          </li>
        </ul>

    <!-- /.row -->
    {% endblock %}